* {
  margin: 0;
  padding: 0;
}
.boxes {
  display: flex;
  font-family: "Poppins", sans-serif;
}
h3 {
  font-family: "Oxygen", sans-serif;
}
.box {
  height: 110px;
  width: 110px;
}
.box img {
  width: 100%;
}
.line {
  height: 2px;
  width: 178px;
  background-color: black;
}
.content {
  margin-left: 10px;
}
.para {
  font-size: 12px;
  margin-top: 5px;
  color: gray;
}
#para1 {
  margin-left: 58px;
  line-height: 1;
}
#para2 {
  margin-left: 80px;
  line-height: 1;
}
.contact {
  box-sizing: border-box;
  height: 23px;
  width: 90px;
  background-color: rgb(246, 214, 7);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 4px;
}
.social {
  margin-top: 4px;
}
